body,
html {
	width: 100%;
	background: rgb(0,255,250);
	background: linear-gradient(15deg, rgba(0,255,250,0.1) 0%, rgba(217,255,142,0.2) 37%, rgba(214,255,154,0.3) 57%, rgba(0,184,63,0.3) 91%);
	font-size: 16px;
	padding: 16px;
}
.person {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	font-family: Arial;
	margin: 0 auto;
}
.person__info {
	padding-right: 2rem;
	margin-bottom: 2rem;
	flex: 1 0 50%;
}
.person__contacts {
	margin-bottom: 2rem;
	flex: 1 0 50%;
}
.person__details {
}
.avatar {
	flex-direction: column;
	margin-bottom: 4rem;
	margin-right: 2rem;
	width: 100%;
	
	
}
.avatar__picture {
	border-radius: 50%;
	border: 2rem solid #fff;
		
}
.contacts {
	justify-content: center;
	vertical-align: middle;
	padding:2rem;
	
}
.contacts__name {
	font-size: 2rem;
}
.contacts__role {
	font-size: 1.2rem;
}
.contacts__item {
	font-style: italic;
	
}
.contacts__title {
}
.contacts__title:after {
	/* добавьте ваш код  */
}
.contacts__link {
	color: gray;
}
.paragraph {
	margin-bottom: 2rem;
	flex-direction: column;
}
.paragraph_last {
	flex-direction: column;
}
