body,
html {
	width: 100%;
	background: rgb(0,255,250);
	background: linear-gradient(15deg, rgba(0,255,250,0.1) 0%, rgba(217,255,142,0.2) 37%, rgba(214,255,154,0.3) 57%, rgba(0,184,63,0.3) 91%);
	font-size: 16px;
	color: #000;
	font-weight: bold;
	font-family:Times New Roman;
	
}

.person {
	
}
.person__info {
	
}
.person__contacts {
	margin-left: 32px;
	font-family:Source Sans Pro Black, sans-serif;
}
.person__details {
	margin-left: 200px;
}
.avatar {
	margin-top:32px;
	margin-left: 200px;
		
}
.avatar__picture {
	border-radius: 50%;
	border:32px solid #FFF;
	float:left;
	margin-bottom: 32px;
	margin-right: 32px;
	max-width: 100%;
	height: auto;
	width: auto\9;
}
.contacts {
	justify-content: center;
	display: table-cell;
	vertical-align: middle;
	
	
	
}
.contacts__name {
	font-size: 32px;
	margin-top: 60%;
	
}
.contacts__role {
	font-size: 19.2px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 32px;
	
}
.contacts__item {
	margin-bottom: 16px;
	
}
.contacts__title {
	
}
.contacts__title:after {
	/* добавьте ваш код  */
}
.contacts__link {
	color: gray;
	

}
.paragraph {
	margin-bottom: 16px;
	float:left;
	
}
.paragraph_last {
	margin-bottom: 48px;
	
}