body,
html {
	width: 100%;
	background: rgb(0,255,250);
	background: linear-gradient(15deg, rgba(0,255,250,0.1) 0%, rgba(217,255,142,0.2) 37%, rgba(214,255,154,0.3) 57%, rgba(0,184,63,0.3) 91%);
	font-size: 16px;
}
.person {
	width: 800px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	font-family: Arial;
	margin: 0 auto;
	padding-top: 2rem;
}
.person__info {
	padding-right: 2rem;
	margin-bottom: 2rem;
	flex: 1 0 50%;
}
.person__contacts {
	margin-bottom: 2rem;
	flex: 1 0 50%;
}
.person__details {
}
.avatar {
	flex-direction: column;
	margin-right: 1rem;
	width: 85%;
}
.avatar__picture {
	border-radius: 50%;
	border: 2rem solid #FFF;
	webkit-transition: -webkit-transform 10s ease-in-out;
        transition: transform 10s ease-in-out;
}
img:hover {
	webkit-transform: rotate(360deg);
        transform: rotate(360deg);
	animation-name: flash_border;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
@keyframes flash_border {
  0% {
    border-color: blue;
  }
 25% {
    border-color: green;
  }
  50% {
    border-color: yellow;
  }
  75% {
    border-color: red;
  }
  100% {
    border-color: blue;
  }
}
	/*border-image: linear-gradient(blue, green, yellow, red);
	border-image-slice: 1;
}*/
.contacts {
	justify-content: center;
	vertical-align: middle;
}
.contacts__name {
	font-size: 2rem;
	font-weight: bold;
}
.contacts__role {
	font-size: 1.2rem;
	font-weight: bold;
}
.contacts__item {
	font-style: italic;
}
.contacts__title {
	font-weight: bold;
}
.contacts__title:after {
	content: ": ";
}
.contacts__link {
	color: gray;
}
.paragraph {
	margin-bottom: 1rem;
}
.paragraph_last {
	margin-bottom: 3rem;
}
